<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>妖怪一覧</title>
</head>
<body>
  <h2>種族別 バスターズ妖怪一覧</h2>
  <table>
    <tr><td><a href="/isamasi">イサマシ族</a></td></tr>
    <tr><td><a href="/husigi">フシギ族</a></td></tr>
    <tr><td><a href="/goketu">ゴーケツ族</a></td></tr>
    <tr><td><a href="/puriti">プリチー族</a></td></tr>
    <tr><td><a href="/pokapoka">ポカポカ族</a></td></tr>
    <tr><td><a href="/usurakage">ウスラカゲ族</a></td></tr>
    <tr><td><a href="/bukimi">ブキミー族</a></td></tr>
    <tr><td><a href="/nyororon">ニョロロン族</a></td></tr>
  </table>
</body>
</html>
