<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>カードショップ</title>
</head>
<body>
  <h2>今まで行ったカードショップ一覧</h2>
  <table>
    <tr><td><a href="/saitama">埼玉県一覧</a></td></tr>
    <tr><td><a href="/chiba">千葉県一覧</a></td></tr>
  </table>
</body>
</html>