<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>イサマシ</title>
</head>
<body>
  <h2>イサマシ妖怪一覧</h2>
  <table>
    <tr><th>妖怪名</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <td><a href="/isamasi/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <p><a href="/isamasi_add">追加</a></p>
  <p><a href="/busters">種族一覧に戻る</a></p>
</body>
</html>