<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>ニコる6月</title>
</head>
<body>
  <h2>9回以上ニコられた6月のコメント</h2>
  <table>
    <tr><th>ニコる数</th><th>コメント</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.fig %></td>
        <td><a href="/nicoru6/<%= number %>"><%= row.comment %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <p><a href="/nicoru6_add">追加</a></p>
  <p><a href="/nicoru">月一覧に戻る</a></p>
</body>
</html>