<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>ニコる11月</title>
</head>
<body>
  <h2>9回以上ニコられたコメント一覧</h2>
  <table>
    <tr><td><a href="/nicoru1">1月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru2">2月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru3">3月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru4">4月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru5">5月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru6">6月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru7">7月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru8">8月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru9">9月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru10">10月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru11">11月のニコる9一覧</a></td></tr>
    <tr><td><a href="/nicoru12">12月のニコる9一覧</a></td></tr>
  </table>
</body>
</html>